.inactive {
  display: none;
}

/**/
.scale-in-hor-right {
  -webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

/**/
.scale-out-hor-right {
  -webkit-animation: scale-out-hor-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: scale-out-hor-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes scale-out-hor-right {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes scale-out-hor-right {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

/**/
.nav-Header {
  background-color: darksalmon;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 10px;
}

.iconOpen {
  font-size: 2.6rem;
}

.iconClosed {
  font-size: 2.6rem;
}

/**/
.menuMobile {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.menu-Mobile {
  padding: 20px 10px;
  background-color: white;
}

.menu-Mobile .sectionMenu-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

h1 {
  font-size: 2.8rem;
}

.menu-Mobile .sectionMenu-1 h2 {
  font-size: 2.8rem;
}

.menu-Mobile .sectionMenu-2 {
  font-size: 2rem;
  list-style: none;
}

.menu-Mobile .sectionMenu-2 ul {
  display: flex;
  flex-direction: column;
  height: 55vh;
  justify-content: space-evenly;
}

.menu-Mobile .sectionMenu-2 ul li {
  list-style: none;
}