.containerPrincipal {
  margin-top: 5px;
  padding: 10px;
}

.infoTitle h2 {
  font-size: 1.9rem;
  padding-bottom: 10px;
}

.infoTitle p {
  font-size: 1.3rem;
  padding-bottom: 10px;
  color: red;
}